.formContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 30px 60px 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            font-family: HyliaSerif;
            letter-spacing: 2px;
            color: #fc0043;
            font-size: 32px;
        }

        .title {
            color: #24004f;
            font-size: 20px;
            font-weight: 700;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .inputGroup {
                width: 280px;

                input {
                    padding: 15px;
                    padding-left: 5px;
                    border: none;
                    width: 260px;
                    border-bottom: 1px solid #a7bcff;

                    &::placeholder {
                        color: rgb(175, 175, 175);
                    }
                }

                .inputErrors {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    margin-bottom: -10px;
                }
            }

            .errorMsg {
                padding-left: 2px;
                font-size: 12px;
                font-weight: 500;
                color: #fc0043;
            }

            .imageFileName {
                font-size: 14px;
            }

            .circleCheckIcon {
                font-size: 16px;
                color:#01950b;
                margin-bottom: -2px;
                margin-left: 5px;
            }

            button {
                background-color: #5433FF;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }

            label {
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                font-size: 14px;
                cursor: pointer;

                img {
                    width: 40px;
                }
            }

            .avatar {
                display: none;
            }
        }

        p {
            color: #24004f;
            font-size: 15px;
            margin-top: 10px;

            .authPageLink{
                padding: 10px 7px;
                border-radius: 10px;
                color: #24004f;
                font-weight: 700;
                text-decoration: none;
            }
        }
    }
}